.navbar {
    height: 55px;
    background-color: var(--color-4);
  }
  
  .navbar > .navbar_container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .logo_area {
    display: inline-block;
    width: 125px;
    height: 40px;
    margin-top: 7px; 
  }
  
  .logo_area > img {
    float: left;
    height: 100%;
  }
  
  .navbar-center-image {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .navbar-center-image > img {
    height: 80px;
    border-radius: 50%;
  }

  .navbar > .navbar_container > .menu_navbar {
    float: right;
    margin-top: 10px;
  }
  
  .navbar > .navbar_container > .menu_navbar > a {
    display: inline-block;
    width: 70px;
    text-align: center;
  }
  
  .navbar > .navbar_container > .menu_navbar > a:nth-child(3) {
    margin-left: 4px;
  }
  
  .navbar > .navbar_container > .menu_navbar > a > span {
    display: inline-block;
  }

  .navbar > .navbar_container > .menu_navbar > a:nth-of-type(2) > span {
    margin-left: 4px;
  }

  .navbar > .navbar_container > .menu_navbar > a:nth-of-type(2) > span.active {
    margin-left: 0;
  }
  
  .navbar > .navbar_container > .menu_navbar > a > span:last-child {
    margin-right: 0;
  }
  
  .navbar > .navbar_container > .logo_area > span,
  .navbar > .navbar_container > .menu_navbar > a > span {
    color: white;
    font-weight: 600;
  }

  .navbar > .navbar_container > .logo_area > span {
    display: inline-block;
    margin-top: 11px;
  }

  .navbar > .navbar_container > .hamburger-icon {
    display: none;
  }


  
  /*  ACTIVE BUTTON ON NAVBAR  */
  .active {
    color: #fff;
    display:  inline-block;
    padding: 7px;
    background-color: var(--color-1);
    border-radius:4px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 10px;
  }

  @media screen  and (max-width: 928px) {
    .navbar > .navbar_container > .logo_area {
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 768px)  {
    .navbar > .navbar_container > .hamburger-icon {
      display: block;
      width: 32px;
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      cursor: pointer;
    }
  
    .navbar > .navbar_container > .hamburger-icon > img {
      width: 100%;
    }

    .navbar > .navbar_container > .menu_navbar {
      display: none;
    }
  }
  

  