/* COLORS*/
/* display, position, dimensions,  margin, padding, text , colors  */

:root {
  --color-1: #0e153a;
  --color-2: #22d1ee;
  --color-3: #e2f3f5;
  --color-4: #3d5af1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: url('../assets/images/heart.jpg') no-repeat center center fixed;
  background-size: 100%;
}

.container {
  display: block;
  max-width: 900px;
  margin: 60px auto 0;
}

.row {
  height: 50px;
  margin: 30px 0;
}

.column {
  position: relative;
  height: 100%;
  border: 1px solid var(--color-1);
  background-color: var(--color-3);
}

.row.row-1 {
    text-align: center;
    border: 1px solid var(--color-1);
    border-radius: 10px 10px 0 0;
    background-color: var(--color-3);
}

.row.row-2 > .column:nth-child(1) {
  float: left;
  width: calc(50% - 20px);
  text-align: center;
  text-indent: 18em;
}

.row.row-2 > .column:nth-child(2) {
  float: right;
  width: calc(50% - 20px);
  text-align: center;
  text-indent: -18em;
}

.row.row-3 > .column:nth-child(1) {
  float: left;
  width: calc(33.3333% - 15px);
}
.row.row-3 > .column:nth-child(1) > span {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.row.row-3 > .column:nth-child(2) {
  float: left;
  width: calc(33.3333% - 15px);
  margin-left: 30px;
}
.row.row-3 > .column:nth-child(2) > span {
    position: absolute;
    bottom: 5px;
    right: 5px;

}
.row.row-3 > .column:nth-child(3) {
  float: right;
  width: calc(33.3333% - 30px);
}

.row.row-3 > .column:nth-child(3) > span {
    display: block;
    margin-top: 13px;
    text-align: center;
    transform: rotate(-45deg);
}

.row-4 {
  height: 200px;
  margin: 20px 0;
  border: 1px solid var(--color-1);
  overflow-y: scroll;
  border-radius: 0 0 10px 10px;
  background-color: var(--color-3);
}


/* TABLET CSS */
@media screen and (max-width: 768px)  {
  .container {
    padding: 0 20px;
  }

  .row.row-2 > .column:nth-child(1),
  .row.row-2 > .column:nth-child(2) {
    width: auto;
    float: none;   
  }

  .row.row-3 {
    padding-top: 50px;
  }

  .row.row-3 > .column:nth-child(1),
  .row.row-3 > .column:nth-child(2),
  .row.row-3 > .column:nth-child(3) {
    display: inline-block;
    width: 100%;
  }

  .row.row-3 > .column:nth-child(2) {
    margin-left: 0 ;
  }

  .row.row-3 > .column:nth-child(3){
    display: inline-block;
    float: none;
  }

  .row.row-4 {
    width: 100%;
    display: inline-block;
    margin-top: 80px;
  }
}

@media print {
  /*.container { display: none !important;}*/
}